In [1]:
import pandas as pd
import numpy as np

In [2]:
crops_df = pd.read_csv("Crop_recommendation.csv")

In [3]:
crops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [4]:
crops_df.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [5]:
crops_df.dropna(subset=['label'], inplace=True)

In [6]:
crops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X = crops_df.iloc[:, :-1]
Y = crops_df.iloc[:, -1]

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
X_train

        N    P    K  temperature   humidity        ph    rainfall
1656   17   16   14    16.396243  92.181519  6.625539  102.944161
752    37   79   19    27.543848  69.347863  7.143943   69.408782
892     7   73   25    27.521856  63.132153  7.288057   45.208411
1041  101   70   48    25.360592  75.031933  6.012697  116.553145
1179    0   17   30    35.474783  47.972305  6.279134   97.790725
...   ...  ...  ...          ...        ...       ...         ...
1638   10    5    5    21.213070  91.353492  7.817846  112.983436
1095  108   94   47    27.359116  84.546250  6.387431   90.812505
1130   11   36   31    27.920633  51.779659  6.475449  100.258567
1294   11  124  204    13.429886  80.066340  6.361141   71.400430
860    32   78   22    23.970814  62.355576  7.007038   53.409060

[1760 rows x 7 columns]

In [11]:
X_test

        N    P    K  temperature   humidity        ph    rainfall
1451  101   17   47    29.494014  94.729813  6.185053   26.308209
1334   98    8   51    26.179346  86.522581  6.259336   49.430510
1761   59   62   49    43.360515  93.351916  6.941497  114.778071
1735   44   60   55    34.280461  90.555616  6.825371   98.540477
1576   30  137  200    22.914300  90.704756  5.603413  118.604465
...   ...  ...  ...          ...        ...       ...         ...
59     99   55   35    21.723831  80.238990  6.501698  277.962619
71     67   45   38    22.727910  82.170688  7.300411  260.887506
1908  121   47   16    23.605640  79.295731  7.723240   72.498009
1958  116   52   19    22.942767  75.371706  6.114526   67.080226
482     5   68   20    19.043805  33.106951  6.121667  155.370562

[440 rows x 7 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [13]:
scaler = MinMaxScaler().fit(X)

In [14]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
X_train

array([[0.12142857, 0.07857143, 0.045     , ..., 0.90900598, 0.48532225,
        0.29722736],
       [0.26428571, 0.52857143, 0.07      , ..., 0.642643  , 0.56594073,
        0.17674768],
       [0.05      , 0.48571429, 0.1       , ..., 0.57013446, 0.58835229,
        0.08980509],
       ...,
       [0.07857143, 0.22142857, 0.13      , ..., 0.43770346, 0.46198144,
        0.28757906],
       [0.07857143, 0.85      , 0.995     , ..., 0.76767796, 0.44420505,
        0.18390291],
       [0.22857143, 0.52142857, 0.085     , ..., 0.5610754 , 0.54465022,
        0.11926686]])

In [16]:
X_test

array([[0.72142857, 0.08571429, 0.21      , ..., 0.93873276, 0.41682113,
        0.02190396],
       [0.7       , 0.02142857, 0.23      , ..., 0.84299238, 0.42837304,
        0.10497346],
       [0.42142857, 0.40714286, 0.22      , ..., 0.92265909, 0.5344578 ,
        0.33974203],
       ...,
       [0.86428571, 0.3       , 0.055     , ..., 0.75868853, 0.6560289 ,
        0.18784608],
       [0.82857143, 0.33571429, 0.07      , ..., 0.71291334, 0.40585322,
        0.16838208],
       [0.03571429, 0.45      , 0.075     , ..., 0.21987947, 0.40696371,
        0.48557519]])

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
base_model = RandomForestClassifier(random_state=42, n_jobs=-1).fit(X_train, Y_train)

In [19]:
base_train_acc = base_model.score(X_train, Y_train)
base_test_acc = base_model.score(X_test, Y_test)

In [20]:
base_accs = base_train_acc, base_test_acc
base_accs

(1.0, 0.9931818181818182)